In [12]:
import pandas as pd
import datetime
import warnings
warnings.filterwarnings('ignore')
data=pd.read_csv(r"C:\Users\3791150\Documents\BigDataCup-main\analysis.csv")

In [27]:
start =datetime.datetime.now()

data['possession'] = 0
for i in range(0,len(data)-1):
    if data['Period'][i] == data['Period'][i+1]: 
        if data['Team'][i+1] == data['Team'][i]:
            data['possession'][i+1] = data['possession'][i]
        else:
            data['possession'][i+1] = data['possession'][i]+1
    else:
        data['possession'][i+1] = 0
end =datetime.datetime.now()

print(end-start)

0:00:16.491581

In [45]:
data.tail(5)

,game_id,Period,Team,Player,type_name,start_x,start_y,end_x,end_y,turnover,success,xT,oxT,nxT,nxT_added,possession,possession_id
43884,53,3,Saginaw Spirit,Bode Wilde,Pass,8,27,56,83,1,0,0.001872,0.004841,-0.002969,0.004040,91,53391Saginaw Spirit
43885,53,3,Erie Otters,Jacob Golden,Pass,151,2,197,33,0,1,0.015682,0.000919,0.014763,0.014791,92,53392Erie Otters
43886,53,3,Erie Otters,Chad Yetman,Pass,197,33,177,1,0,0,0.030989,0.001434,0.029555,-0.014491,92,53392Erie Otters
43887,53,3,Erie Otters,Jacob Golden,Pass,184,7,190,14,0,1,0.016946,0.001882,0.015064,0.002382,92,53392Erie Otters
43888,53,3,Erie Otters,Hayden Fowler,Pass,193,23,138,26,0,1,0.018935,0.001490,0.017445,0.010380,92,53392Erie Otters

In [38]:
data.loc[370:380,['Period','type_name','success','Team','possession']]

     Period   type_name  success            Team  possession
370       1        Pass        1  Sudbury Wolves         122
371       1        Pass        0  Sudbury Wolves         122
372       1        Pass        1     Erie Otters         123
373       1        Pass        0     Erie Otters         123
374       1        Pass        1  Sudbury Wolves         124
375       1  Zone Entry        1  Sudbury Wolves         124
376       2        Pass        1  Sudbury Wolves           0
377       2        Pass        1  Sudbury Wolves           0
378       2        Pass        1  Sudbury Wolves           0
379       2        Pass        0  Sudbury Wolves           0
380       2        Pass        1     Erie Otters           1

In [37]:
data[['Team','type_name','success','possession']].head(20)

              Team    type_name  success  possession
0   Sudbury Wolves         Pass        0           0
1      Erie Otters         Pass        0           1
2   Sudbury Wolves         Pass        1           2
3   Sudbury Wolves         Pass        1           2
4   Sudbury Wolves  Dump In/Out        0           2
5   Sudbury Wolves   Zone Entry        0           2
6      Erie Otters         Pass        1           3
7      Erie Otters         Pass        1           3
8      Erie Otters         Pass        0           3
9   Sudbury Wolves         Pass        1           4
10     Erie Otters         Pass        1           5
11     Erie Otters         Pass        1           5
12     Erie Otters         Pass        1           5
13     Erie Otters   Zone Entry        1           5
14     Erie Otters         Pass        0           5
15  Sudbury Wolves         Pass        1           6
16  Sudbury Wolves  Dump In/Out        0           6
17     Erie Otters         Pass        1           7
18     Erie Otters   Zone Entry        1           7
19  Sudbury Wolves         Pass        1           8

In [43]:
data['possession_id'] = (
    data['game_id'].astype(str) + data['Period'].astype(str) + 
    data['possession'].astype(str) + data['Team'].astype(str)
)

In [44]:
data[['Team','type_name','success','possession','possession_id']].head(20)

              Team    type_name  success  possession       possession_id
0   Sudbury Wolves         Pass        0           0  1410Sudbury Wolves
1      Erie Otters         Pass        0           1     1411Erie Otters
2   Sudbury Wolves         Pass        1           2  1412Sudbury Wolves
3   Sudbury Wolves         Pass        1           2  1412Sudbury Wolves
4   Sudbury Wolves  Dump In/Out        0           2  1412Sudbury Wolves
5   Sudbury Wolves   Zone Entry        0           2  1412Sudbury Wolves
6      Erie Otters         Pass        1           3     1413Erie Otters
7      Erie Otters         Pass        1           3     1413Erie Otters
8      Erie Otters         Pass        0           3     1413Erie Otters
9   Sudbury Wolves         Pass        1           4  1414Sudbury Wolves
10     Erie Otters         Pass        1           5     1415Erie Otters
11     Erie Otters         Pass        1           5     1415Erie Otters
12     Erie Otters         Pass        1           5     1415Erie Otters
13     Erie Otters   Zone Entry        1           5     1415Erie Otters
14     Erie Otters         Pass        0           5     1415Erie Otters
15  Sudbury Wolves         Pass        1           6  1416Sudbury Wolves
16  Sudbury Wolves  Dump In/Out        0           6  1416Sudbury Wolves
17     Erie Otters         Pass        1           7     1417Erie Otters
18     Erie Otters   Zone Entry        1           7     1417Erie Otters
19  Sudbury Wolves         Pass        1           8  1418Sudbury Wolves

In [47]:
data.to_csv('analysis_possessionid.csv',index=False)